flask==0.10.1
pymongo==2.7.2
mongoengine==0.10.1
mimerender
cleancat>=0.3
Flask-Views
flask-mongoengin==0.7.1
flask-restful==0.3.4
Flask-Script==2.0.5
Flask_Admin==1.3.0
Click==3.3
meinheld==0.5.8
pydash==3.4.1
git+https://github.com/PrashntS/flask-mongorest.git
redis==2.10.5
walrus=0.3.2
