.node
  stroke: #fff
  stroke-width: 0px

.link
  stroke: #999
  stroke-opacity: .8

.background
  stroke: gray
  stroke-width: 0px
  fill: white

.svgpos
  position: absolute


.node
  stroke: #fff
  stroke-width: 1.5px
  cursor: pointer

  text
    display: inline
    font-size: 14px
    fill: #000
    stroke: none
    font-family: Montserrat

.link
  fill: #000
  stroke: #bbb
